.card-align {
    margin-top: 3em;
}

.profile {
    font-size: 5em;
    padding-top: 0.3em;
}

.center-text{
    margin: auto;
}

.welcome {
    font-size: 1.3em;
}

.income {
    margin-top: 1em;
}

.income-text {
    background-color:#fff;
    border:1px solid;    
    height:100px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width:100px;
    line-height: 100px;
}

.span-size {
    height: 9em;
}