<div *ngIf="currentUser$ | async as user">
    <div fxLayout="column" fxLayoutAlign="center center">
        <mat-card class="card-align">
            <mat-card-content>
                <span class="span-size">
                    <span class="mat-body-2 welcome center-text">Current Expenses</span>
                </span>
                <span class="table">
                    <div class="exp-table">
                        <table mat-table [dataSource]="user.expenses" style="table-layout: fixed;"
                            class="mat-elevation-z8" aria-describedby="Table containing expenses">
                            <ng-container matColumnDef="name">
                                <th scope="col" mat-header-cell *matHeaderCellDef>Item</th>
                                <td mat-cell *matCellDef="let item" class="table-text">{{item.item}}</td>
                            </ng-container>
                            <ng-container matColumnDef="value">
                                <th scope="col" mat-header-cell *matHeaderCellDef>Value</th>
                                <td mat-cell *matCellDef="let item" class="table-text">{{item.value | currency}}</td>
                            </ng-container>
                            <ng-container matColumnDef="date">
                                <th scope="col" mat-header-cell *matHeaderCellDef>Date</th>
                                <td mat-cell *matCellDef="let item" class="table-text">{{item.date | date:'shortDate'}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="delete">
                                <th scope="col" mat-header-cell *matHeaderCellDef>Delete</th>
                                <td mat-cell *matCellDef="let item" class="table-text">
                                    <button mat-icon-button (click)="removeExpense(item)">
                                        <mat-icon class="table-icon">delete_forever</mat-icon>
                                    </button>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                        </table>
                    </div>
                </span>
            </mat-card-content>
            <hr>
            <span class="add-expense">
                Add Expense
            </span>
            <span>
                <form class="expense-form">
                    <mat-form-field class="expense">
                        <mat-label>Item</mat-label>
                        <input matInput type="text" [formControl]="itemControl" required>
                    </mat-form-field>
                    <mat-form-field class="expense">
                        <mat-label>Value</mat-label>
                        <input matInput type="number" [formControl]="valueControl" required>
                    </mat-form-field>
                    <mat-form-field class="expense">
                        <mat-label>Date</mat-label>
                        <input matInput type="date" [formControl]="dateControl" required>
                    </mat-form-field>
                </form>
                <button mat-raised-button color="primary" class="btn-add-expense" (click)="addExpense()">Add</button>
            </span>
            <hr>
            <mat-card-actions style="height: 5em;">
                <div fxLayout="row" fxFill fxLayoutAlign="space-evenly center">
                    <button mat-raised-button color="primary" class="btn-back" routerLink="main">Back</button>
                </div>
            </mat-card-actions>
        </mat-card>
    </div>
</div>