.card-align {
    margin-top: 2em;
    margin-bottom: 3em;
}

.center-text{
    margin: auto;
}

.welcome {
    font-size: 1.3em;
}

.span-size {
    height: 9em;
}

.table {
    height: 20em;
}

.exp-table {
    width: 100%;
    margin: 2em auto auto 2em;
    overflow-x: auto;
    overflow-y: auto;
}

.table-text {
    font-size: smaller;
}

.add-expense {
    margin-top: 2em;
}

.btn-add-expense {
    margin-bottom: 2em;
}
