.upper-row {
    flex: 1 2;
}

.logo {
    margin-top: 2.5em;
    margin-bottom: 1.8em;
}

.card {
    margin-top: 2em;
    margin-bottom: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.remember {
    margin-top: 0.5em;
    margin-bottom: 1.5em;
}

.btn-sign-in {
    width: 30%;
}

.btn-register {
    width: 40%;
}